# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.spec

# PyInstaller
*.manifest
*.spec

# macOS
.DS_Store
._*

# Temporary files
*.wav
*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
